google_api_python_client==2.166.0
google_auth_oauthlib==1.2.1
opencv_python==4.11.0.86
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==11.2.1
protobuf==6.30.2
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
torch==2.6.0
tqdm==4.66.5
tqdm==4.67.1
ultralytics==8.3.111
